# global git configuration file

[include]
  path = ~/.config/gitconfig

[core]
	excludesfile = ~/.gitignore_global
  pager = delta
	ignoreCase = false
	editor = vim

[pager]
  branch = false

[alias]
  st = status
  s = status --short --branch

  cm = commit
  br = branch --sort=committerdate
  co = checkout
  fe = fetch
  me = merge
  sw = switch

  df = "!f() { git diff \"$@\" -- . ':(exclude)yarn.lock'; }; f"
  dt = difftool
  mt = mergetool

  lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lga = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
  ld = log --full-diff -p --date=short

  wt = "!f() { : git worktree ; cd \"${GIT_PREFIX:-.}\" && \
      case \"$1\" in \
          rm) shift; git worktree remove \"$@\" ;; \
          ls) shift; git worktree list \"$@\" ;; \
          *)  git worktree \"$@\" ;; \
      esac; }; f"

[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --new-window --wait $MERGED
[mergetool]
  prompt = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --new-window --wait --diff $LOCAL $REMOTE
[difftool]
  prompt = false

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  pager = less --mouse
  navigate = true
  line-numbers = false
  decorations = false
  keep-plus-minus-markers = true

[color]
    ui = auto

[color "status"]
    changed = yellow
    untracked = cyan
    branch = magenta bold
    header = dim
[log]
	date = format-local:%Y-%m-%d %I:%M:%S %p
