# global git configuration file

[include]
  path = ~/.config/gitconfig

[core]
	excludesfile = ~/.gitignore_global
  pager = delta
	ignoreCase = false
	editor = vim

[pager]
  branch = false

[alias]
  st = status
  cm = commit
  br = branch --sort=committerdate
  co = checkout
  df = diff -- . ':(exclude)yarn.lock'
  fe = fetch

  me = merge
  dt = difftool
  mt = mergetool
  lg = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ld = log --full-diff -p --date=short

[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --new-window --wait $MERGED
[mergetool]
  prompt = false
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --new-window --wait --diff $LOCAL $REMOTE
[difftool]
  prompt = false

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  pager = less --mouse
  navigate = true
  line-numbers = false
  decorations = false
  keep-plus-minus-markers = true
