# Ignore everything in this directory
*

# Allow these files...

!.gitconfig
!.gitignore
!.gitignore_global
!.hushlogin
!.p10k.zsh
!README.md
!Brewfile

!.zshrc
!.zsh/
!.zsh/config/
!.zsh/config/00-config.zsh
!.zsh/config/01-path.zsh
!.zsh/config/02-alias.zsh
!.zsh/config/03-functions.zsh
!.zsh/config/04-manpages.zsh

!.vimrc
!.vim/
!.vim/colors/
!.vim/colors/molokai.vim
!.vim/settings/
!.vim/settings/00-defaults.vim
!.vim/settings/01-search.vim
!.vim/settings/02-swapfiles.vim
!.vim/settings/03-persistundo.vim
!.vim/settings/04-indentation.vim
!.vim/settings/05-markdown.vim
!.vim/settings/06-nerdtree.vim
!.vim/settings/07-plugins.vim
!.vim/settings/08-userinterface.vim
!.vim/settings/09-pluginsetup.vim
!.vim/settings/10-keymappings.vim
!.vim/settings/markdown-preview.css

!.config/
!.config/nvim/
!.config/nvim/init.vim
!.config/iterm2/
!.config/iterm2/com.googlecode.iterm2.plist

!.config/aerial/
!.config/aerial/prefs.plist

!.config/bin/
!.config/bin/cleanup_downloads.sh
!.config/bin/cleanup_screenshots.sh
!.config/bin/global-npm.sh
!.config/bin/global-mas.sh

!.npmrc

# ignore these files...

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# eof
